/* Main Container */

.firstcontainer{
    background: url("../views/signupbg.jpg");
    background-size: cover; 
}


.forgotpassword-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
/* Logo and Form Heading Container */
.heading-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-logo {
    max-width: 100px;
    height: auto;
    margin-left: 22px; /* Add margin to the right for spacing */
}

.form-heading {
    font-size: 24px;
    color: #333333;
    margin: 0;
}


/* Form styling */
.input-container {
    margin-bottom: 15px;
}

.input-label {
    font-size: 16px;
    margin-bottom: 6px;
    color: #555555;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.error-message {
    font-size: 14px;
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}