@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.coursehomecontainer {
  width: 50%;
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 3rem;
}


.box {
  position: relative;
  width: auto;
  height: 75px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
}

.box:hover {
    position: relative;
    width: auto;
    height: 75px;
    background: #f8f5f5;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(31, 23, 23, 0.25);
  }
  
.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: var(--color);
  transition: 0.5s ease-in-out;
}

.box:hover::before {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.box .content .icon {
  position: relative;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: var(--color);
  transition: 0.5s ease-in-out;
}



.box .content .text h3 {
  font-weight: 500;
  color: var(--color);
  transition: 0.5s ease-in-out;
}

.box .content .text p {
  font-size: 0.9em;
  color: #999;
  transition: 0.5s ease-in-out;
}

