/* ReceiverChat.css */

.receiver-chat-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

}

.admin-buttons {
  flex: 1;
  padding: 20px;
 background: url('..\/views\/8c98994518b575bfd8c949e91d20548b.jpg');
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.admineachbutton {
  list-style: none;
  padding: 0;
  display: contents;
}

.adminmessagebutton {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #34b7f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.realtimemessage-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.message-display {
  flex: 1;
  padding: 20px;
  background: url('..\/views\/tile_background.png');
  background-size: cover;
  background-position: center;
  backface-visibility: visible;
  overflow-x: auto;
}

.sent {
  text-align: right;
  color: #000000;
  background: #25d366;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.timestamp {
  text-align: right;
margin: auto;
}

.eachmessage {
  background-color: #0056b3;
}

.received {
  text-align: left;
  color: #ffffff;
  background-color: #128c7e;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  

}

.input-area {
  flex: 0 0 auto;
  padding: 20px;
  background-color: #282a36;
  border-left: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-area button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #0056b3;
}