.register-block {
    float: left;
    width: 100%;
    padding: 50px 0;
    max-height: 100%;
    background: url("..\/views\/signupbg.jpg");
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center center; /* This centers the image horizontally and vertically */
}



.form-register-logo {
    width: 100px;
    margin: auto;
    position: absolute;
    left: 100px;
}

.container {
   
    border-radius: 10px;
    width: 30%;
    height: 30%;
}

.register-sec {
    padding: 25px 30px;
    position: relative;
}

.register-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #0069c0;
}

.register-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #6ec6ff;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #0069c0;
    color: #fff;
    font-weight: 600;
}

.messageAnimation {
    color: #282a36;
    text-align: center;
    animation: messageFadeIn 0.7s ease forwards;
    animation-delay: 0.1s;
    opacity: 0;
    transition: 0.5s all linear;
}

@keyframes messageFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footerContainer{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.footerContainer a{
    color:black;
}